@media only screen and(max-width:1200px){
	
	
.header{
	
	
	width:800px;
	height:150px;
	margin:0 auto;
	
	
}

.zones{
	
	width:800px;
	height:200px;
	margin:15px auto;
	background-color:green;
	
}

#gallery{
	
	margin:0px auto;
	width:800px;
	height:600px;
	display:inline-block;
	background-color:blue;
	
	
}


.abonement{
	
	width:800px;
	height:250px;
	margin:15px auto;
	background-color:purple;
	
	
}


.about{
	
	height:250px;
	width:800px;
	background-color: yellow;
	
}

.footer{
	
	height:150px;
	width:800px;
	margin: 15px auto;
	background-color:red;
	
}
	
}



@media only screen and(max-width:800px){
	
	
.header{
	
	
	width:600px;
	height:100px;
	margin:0 auto;
	background-color:green;
	
}

.zones{
	
	width:600px;
	height:150px;
	margin:5px auto;
	background-color:green;
	
}

#gallery{
	
	margin:0px auto;
	width:600px;
	height:400px;
	display:inline-block;
	background-color:blue;
	
	
}


.abonement{
	
	width:600px;
	height:150px;
	margin:5px auto;
	background-color:purple;
	
	
}


.about{
	
	height:200px;
	width:600px;
	background-color: yellow;
	
}

.footer{
	
	height:100px;
	width:600px;
	margin: 15px auto;
	background-color:red;
	
}
	
}