*{
	
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{

	background: radial-gradient(50% 50% at 50% 50%, #060310 25.45%, #000000 100%);
	
}


.container{
	
	margin: 0 auto;
	
	
	
}

.header{
	
	
	width:1200px;
	height:200px;
	margin:0 auto;
	
	background: #000000;
	
	
}

#logo{
	
	float:left;
	height:100%;
	width:20%;
	display:inline-block;
	
	
}

#menu{
	
	position:relative;
	
	float:left;
	height:100%;
	width:55%;
	display:inline-block;
	
	
}

#adres{
	float:right;
	height:100%;
	width:25%;
	display:inline-block;
	
	
}



.zones{
	
	width:1200px;
	height:350px;
	margin:20px auto;
	
	
}
#zone1, #zone2 {
	
	height:50%;
	width:50%;
	display:inline-block;
	
	float:left;
	
}

#zone3 {
	
	height:50%;
	width:100%;
	display:inline-block;
	
	
}

#gallery{
	
	margin:0px auto;
	width:1200px;
	height:600px;
	display:inline-block;
	
	
	
}

.abonement{
	
	width:1200px;
	height:350px;
	margin:20px auto;
	background-color:purple;
	
	
}

#abhead{
	
	width:100%;
	height:10%;
	background-color:red;
	float:left;
	
}
#ab1, #ab2, #ab3 {
	
	height:90%;
	width:30%;
	
	display:inline-block;
	
	
	margin:auto;
	
	background-color:green;
	
}

#ab2{
	
	margin: 0 5%;
}

#ab1{
	float:left;
}

#ab3{
	float:right;
}


.about{
	
	height:350px;
	width:1200px;
	background-color: yellow;
	
}

#abouthead, #aboutmenu {
	
	height:15%;
	width:100%;
	display:inline-block;
	float:left;
	background-color:blue;
	
}

#aboutmenu{
	
	background-color:orange;
	
}

#abouttxt{

		height:70%;
		width:100%;
		display:inline-block;
		float:left;
		
		background-color:white;
	
}

.footer{
	
	height:200px;
	width:1200px;
	margin: 20px auto;
	background-color:red;
	
}












#logo{
	
	background-image:url(../img/logo.png);
	
}


#men > ul {

	
  list-style: none; 
  margin: 0; 
  padding-left: 0; 
}
#men > ul> li > a {text-decoration: none;
color:white;

}

#men > ul> li> a:hover{
	text-decoration:none;
	color:orange;
}

#men > ul > li {
		

display:inline;		
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
margin-right:3%;
		
}
#men{
	
	position:relative;
	top:40%;
	text-align:center;
}


#adres > div > p {
	text-align:left;
	font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 16px;

color: #FFFFFF;
}

#adres > div {

position:relative;
top:25%;
left:35%;

}

#zone1 > h2 {

display:inline-block;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align:center;
position:relative;
left:-30%;
color: #FF6600;	

}

#zone1 > img {
	
	display:inline-block;
	float:left;
}

#zone1 > p {
	display:inline-block;
	word-break:break-all;
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
float:left;
color: #FFFFFF;
top: 20%;
left:5%;
position:relative;

}


#zone2 > h2 {

display:inline-block;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align:center;
position:relative;
left:-30%;
color: #FF6600;	

}

#zone2 > img {
	
	display:inline-block;
	float:left;
}

#zone2 > p {
	display:inline-block;
	word-break:break-all;
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
float:left;
color: #FFFFFF;
top: 20%;
left:5%;
position:relative;

}


#zone3 > div {
	
	weight:350px;
	position:relative;
	left:35%;
	
}


#zone3 > div >  h2 {

display:inline-block;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align:center;
position:relative;
right:50%;

color: #FF6600;	

}

#zone3 > div > img {
	
	display:inline-block;
	float:left;
}

#zone3 > div > p {
	display:inline-block;
	word-break:break-all;
	font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 16px;
float:left;
color: #FFFFFF;



}



